@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
}

html {
    height: 100%;
}
body{
    height: 100%;
}
.main-form{
    height: 100vh;
    width: 100%;
    margin:0 auto;
    background-color: #090f21;
}
@media (max-width:769px) {
    .main-form{
        padding:4px 15px
    }
}
.form-wrap{
    width: 400px;
    height: 500px;
    background-color: #fff;
    color: #0A1420;
}
@media (max-width: 769px) {
    .form-wrap{
        max-width: 97%;
    }
}
.form-wrap h2{
    font-weight:bold;
    font-size: 23px;
}
.have-acct{
    max-width:200px;
    height:67px;
    font-size:14px;
}
.form-wrap form input{

}